{% extends "base.html" %}

{% block app_content %}

    <h1>{{ profile.name }}: {{ profile.average_rating }}/5.0</h1>

    {% if profile.is_claimed %}
        <h2>Profile claimed.</h2>
    {% else %}
        <h2>Profile not claimed.</h2>
    {% endif %}

    <h3>Current Address</h3>
    {% for p2a in profile.p2a_list %}
        {% if p2a.is_current_address == True %}
            <p>{{ p2a.address.street_address }}</p>
            <p>{{ p2a.address.township }}, {{ p2a.address.state }} {{ p2a.address.zip_code }}</p>
        {% else %}
            <p>Unknown</p>
        {% endif %}
    {% endfor %}

    <hr>

    <h3>Information</h3>

    {% if profile.age %}
        <p>Age: {{ profile.age }}</p>
    {% else %}
        <p>Age: Unknown</p>
    {% endif %}

    {% if profile.birthday %}
        <p>Birthday: {{ profile.birthday }}</p>
    {% else %}
        <p>Birthday: Unknown</p>
    {% endif %}

    {% if profile.gender %}
        <p>Gender Identity: {{ profile.gender }}</p>
    {% else %}
        <p>Gender Identity: Unknown</p>
    {% endif %}

    {% if profile.job_title %}
        <p>Job Title: {{ profile.job_title }}</p>
    {% else %}
        <p>Job Title: Unknown</p>
    {% endif %}

    {% if profile.political_affiliation %}
        <p>Political Affiliation: {{ profile.political_affiliation }}</p>
    {% else %}
        <p>Political Affiliation: Unknown</p>
    {% endif %}

    <hr>

    <h3>Former Addresses</h3>
    {% for p2a in profile.p2a_list %}
        {% if p2a.is_current_address == False %}
            <ul>
                <li>{{ p2a.address.street_address }}:</li>
            </ul>
        {% endif %}
    {% endfor %}

{% endblock %}